.tree-tags-container {
    margin: 5px;
    position: relative;
}

.tags-input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 91px;
    align-items: center;
}

.tag-item {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-remove {
    color: #ff0000;
    cursor: pointer;
    margin-left: 8px;
}

.empty-what-message {
    color: gray;
    font-size: 1.7em;
    text-align: center;
    margin-top: 10px;
    flex: 1;
}

.tree-icon {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
    font-size: xx-large;
}

.modal {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 5px;
    padding-top: 15px;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-content {
    padding: 20px;
    width: 100%;
}

.search-input {
    padding: 8px;
    font-size: 1.2em;
    width: 95%;
    margin-bottom: 15px;
}

.breadcrumb-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #61DAFB;
}

.breadcrumb-item {
    font-size: 0.9em;
    margin-right: 5px;
    color: #61DAFB;
    margin-bottom: 10px;
}

.mind-map-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.tree-node-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 140px;
}

.tree-node-content.disabled-node {
    color: #b0b0b0;
    cursor: not-allowed;
    background-color: #e0e0e0;
}

.icon {
    font-size: 3em;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5em;
}
.tree-node-content.disabled {
    color: gray;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  