.f-section {
  flex: 1;
  border-radius: 8px;
  background-color: inherit;
  padding: 10px;
  margin: 10px;
  min-height: 150px;
  max-height: 250px !important;
  overflow-y: auto;
  color: antiquewhite
}

.f-section-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the header */
  position: relative;
}

.add-icon {
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  left: 10px; /* Position to the left */
  color: #ffeb3b;
}

.f-section .logo {
  margin-right: 8px;
  font-size: 1.8em;
}

.total-rating {
  font-size: 0.8em;
  color: #ddd;
  text-align: right;
}

.f-section ul {
  list-style: none;
  padding: 0;
}

.f-section li {
  margin-bottom: 5px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eye-icon {
  margin-right: 5px;
  cursor: pointer;
  color: white;
}

.rating-input {
  width: 50px;
  margin-left: 10px;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-item-input {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  width: 80%;
}

.add-item-save {
  padding: 5px 10px;
  background-color: #28a745;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.75em;
  pointer-events: none;
  z-index: 1000;
  max-width: 200px;
  overflow-wrap: break-word;
}

.tooltip-text {
  margin: 0;
  line-height: 1.2em;
}
