/* src/components/Footer.css */

.App-footer {
    background-color: #f1f1f1;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .App-footer-icon {
    height: 44px; /* Adjusted size for larger icons */
    width: 44px; /* Ensure width matches height */
    margin: 0 26px; /* Add spacing between icons */
  }
  